.search {
    display: flex;
    align-items: center;
    background-color: $input-white;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
}

.search > input {
    background-color: $input-white;
    border: none;
    width: 100%;
    color: $black;
}

.search > input:focus {
    outline: none;
}

